.AddWidget {
    height: 40px;
    width: 152px;
    background-color: #27AE60;
    color: white;
    border-radius: 9px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 15px;
    letter-spacing: 0.2px;
    cursor: pointer;
    transition: 0.1s ease-in-out;

    &:hover {
        background-color: rgba(39, 174, 96, 0.8);
    }
}